<form method="POST" name="" action="#/contact-add" id=contact-form>
    <div id="MSGBOX" class="box negative notice">
    <ul></ul>
 </div>
        <h1><font color="red" allign="center">Personal Information Form</font></h1>
  <p class="form-steps form">
        
        <a  class="nav-step" id="nav-step1">Personal Details :-1</a>|
        <a  class="nav-step" id="nav-step2">Personal Details :-2</a>|
        <a  class="nav-step" id="nav-step3">Company Details :-1</a>|
        <a  class="nav-step" id="nav-step4">Company Details :-2</a>
   </p>
   <p class="form-steps form right">
        <input type="submit" value="Save" name="save" id="save" class="button " />
       <input type=reset value="Reset" name="reset" class="button" />
   </p>
        <input type=hidden value="<%= data.id %>" name="id" />

        <fieldset class="grid_17 blue box step" id="step1">
            <legend>I m a legend</legend>
            <h3>Personal Details :-1</h3>
            <ul class="form tar">
                <li>
                        <label>Initial</label>
                        <select name="suffix initials">
                            <option value="i1">Mr.
                            <option value="i2">Mrs.
                            <option value="i3">Ms.
                        </select>
                </li>
                <li>
                        <label>Enter Name :- </label>
                        <input type="text"  name="first_name" value="" />
                        <input type="text"  name="middle_name" value="" />
                        <input type="text" name="last_name" value="" />
                </li>
                <li class="vii">
                        <label>Select Gender</label>
                        <input type="radio" name="gender" value="Male"/><label>Male</label>
                        <input type="radio" name="gender" value="Female"/><label>Female</label>
                </li>
                <li>
                        <label>Birth-Date</label>
                        <input type="text" name="birthday" value="" class="datepicker"/>
                </li>
                <li>
                        <label>Language</label>
                        <input type="text"  name="language" value="">
                </li>
                <li>
                        <label>Country</label>
                        <input type="text" name="home_country" value="">
                </li>
                <li>
                        <label>State</label>
                        <input type="text" name="home_state" value="">
                </li>
                <li>
                        <label>City</label>
                        <input type="text" name="home_city" value="">
                </li>
                
                <li>
                         <label>Street</label>
                         <input type="text" name="home_street" value=""/>
                </li>
                <li>
                         <label>Street 2</label>
                         <input type="text" name="home_street_2" value=""/>
                </li>
                <li>
                         <label>Street 3</label>
                         <input type="text" name="home_street_3" value=""/>
                </li>
                <li>
                         <label>Postal Code</label>
                         <input type="text" name="home_postal_code" value=""/>
               </li>
           </ul>
    </fieldset>

    <fieldset class="grid_17 blue box step" id="step2">
         <legend>I m a legend</legend>
        <h3>Personal Details :-2</h3>
        <ul class="form tar">
            <li>
                      <label>email-id</label>
                      <input type="text" value="" name="email_address">
            </li>
            <li>
                      <label>Alternate email-id</label>
                      <input type="text" value="" name="email_address_2">
            </li>
            <li>
                      <label>Landline No.</label>
                      <input type="text" name="home_phone" value=""/>
            </li>
            <li>
                       <label>Alternate No</label>
                       <input type="text" name="home_phone_2" value=""/>
            </li>
            <li>
                       <label>Mobile No.</label>
                       <input type="text" value="+91-" name="mobile_phone" value=""/>
            </li>
             <li>
                       <label >Fax No.</label>
                       <input type="text" name="home_fax" value=""/>
            </li>
        </ul>
    </fieldset>

    <fieldset class="grid_17 blue box step" id="step3">
         <legend>I m a legend</legend>
        <h3>Company Details 1</h3>
        <ul class="form tar">
            <li>
                  <label class="required">Company's Name</label>
                  <input type="text" name="name" class="required" value="<%=data.name%>">
            </li>
            <li>
                <label>Company/Employee</label>
                <% if ( is_human==0) { %>
                        <select name="is_human" class="required">
                            <option value="0">Company
                            <option value="1">Employee
                        </select>
                <%}%>
                <% if ( is_human==1) { %>
                        <select name="is_human" class="required">
                            <option value="1">Employee
                            <option value="0">Company
                        </select>
                <%}%>
            </li>
            <li>
                  <label class="required">Your Profession</label>
                  <input type="text" class="required" name="title" value="<%=data.title%>">
            </li>
            <li>
                  <label class="required">Company ID</label>
                  <input type="text" class="required" name="company_id" value="<%=data.id%>">
            </li>
            <li>
                 <label class="required">User Id</label>
                 <input type="text" class="required" name="user_id" value="<%=data.user_id%>">
            </li>
            <li>
                 <label>Department</label>
                 <input type="text" name="department" value=""/>
            </li>
            <li>
                   <label>Country</label>
                   <input type="text" name="business_country" value=""/>
            </li>
             <li>
                   <label>State</label>
                   <input type="text" name="business_state" value=""/>
             </li>
             <li>
                   <label class="required">City</label>
                   <input type="text" class="required" name="business_city" value="<%=data.business_city%>">
             </li>
             <li>
                   <label>Office Address</label>
             </li>
             <li>
                   <label>Street 1</label>
                   <input type="text" name="business_street" value=""/>
             </li>
             <li>
                   <label>Street 2</label>
                   <input type="text" name="business_street_2" value=""/>
             </li>
             <li>
                   <label>Street 3</label>
                   <input type="text" name="business_street_3" value=""/>
             </li>
             <li>
                   <label>Postal Code</label>
                   <input type="text" name="business_postal_code" value=""/>
             </li>
        </ul>
    </fieldset>

    <fieldset class="grid_17 blue box step" id="step4">
        <legend>I m a legend</legend>
        <h3>Company Details 2</h3>
        <ul class="form tar">
            <li>
                <label class="required" for="webpage">Company's web page</label>
                <input type="text" class="required" name="web_page" value="<%=data.web_page%>"/>
            </li>
            <li>
                 <label class="required">email-id</label>
                 <input id="email" name="email" value="<%=data.email%>" class="required email" />
            </li>
            <li>
                 <label class="required">Landline No.</label>
                 <input type="text" class="required" name="primary_phone" value="<%=data.primary_phone%>">
            </li>
            <li>
                <label>Alternate No</label>
                <input type="text" name="business_phone_2" value=""/>
             </li>
            <li>
                <label >Fax No.</label>
                <input type="text" name="business_fax" value=""/>
            </li>
             <li>
                   <label>Referred By</label>
                   <select name="refferred" value="reff">
                           <option value="email">email
                           <option value="client">By Client
                           <option value="other">Others
                   </select>
            </li>
            <li>
                <label >Billing Payment</label>
                <select name="bill_pay" value="billpay" name=""billing_information>
                    <option >mode Of Pay
                    <option value="cash">Cash
                    <option value="cheque">Cheque
                   <option value="dd">D.D.
                </select>
            </li>
        </ul>
    </fieldset>
</form>