<form method="POST" name="" action="" id=contact-form>
    <h1><font color="red" allign="center">Personal Information Form</font></h1>

    <a href="" class="nav-step" id="nav-step1">Personal Details :-1</a>|
    <a href="" class="nav-step" id="nav-step2">Personal Details :-2</a>|
    <a href="" class="nav-step" id="nav-step3">Company Details :-1</a>|
    <a href="" class="nav-step" id="nav-step4">Company Details :-2</a>

    <label>Change Language</label>
         <select name="language">
               <option value="Eng">English
               <option value="chi">Chinese
               <option value="fre">French
         </select>
    <fieldset class="grid_17 green box step" id="step1">
        <h3>Personal Details :-1</h3>
           <ul class="form tar">
               <li>
                   <label>Intial</label>
                       <select name="intial">
                           <option value="i1">Mr.
                           <option value="i2">Mrs.
                           <option value="i3">Ms.
                       </select>
               </li>
               <li>
                   <label class="reqired">Enter Name :- </label>
                       <input type="text"  name="first_name" value="first name" />
                       <input type="text"  name="middle_name" value="middle name" />
                       <input type="text" name="last_name" value="last name" />
               </li>
               <li>
                    <label>Select Gender</label>
                       <input type="radio" name="gender" value="Male"/>Male
                       <input type="radio" name="gender" value="Female"/>Female
               </li>
               <li>
                   <label class="reqired">Birth-Date</label>
                      <input type="text" name="birth" value="" class="datepicker"/>
               </li>
               <li>
                   <label>Country</label>
                      <input type="text">
               </li>
               <li>
                   <label>State</label>
                      <input type="text">
               </li>
               <li>
                   <label>City</label>
                      <input type="text">
               </li>
               <li>
                   <label class="reqired">Personal Address</label>
                       <br>
                            <label>Address</label>
                               <input type="text" />
      
                       <br>
                            <label>Street 1</label>
                            <input type="text" />
                        
                       <br>
                            <label>Street 2</label>
                            <input type="text" />
                        <br>
                       
                            <label>Street 3</label>
                            <input type="text" />
                       
               </li>
               <li>
                   <label class="reqired">Postal Code</label>
                       <input type="text">
               </li>
           </ul>
    </fieldset>


    <fieldset class="grid_17 green box step" id="step2">
        <h3>Personal Details :-2</h3>
        <ul class="form tar">
            <li>
                <label class="reqired">email-id</label>
                <input type="text">
                   <br>
                      <label>alternate email-id 1</label>
                      <input type="text">
                   <br>
                      <label>alternate email-id 2</label>
                      <input type="text">
            </li>
            <li>
                <label class="reqired">Landline No.</label>
                <input type="text">
                <br>
                <label>Alternate Landline No</label>
                <input type="text">
            </li>
            <li>
                <label class="reqired">Mobile No.</label>
                <input type="text"><br>
                <label>Alternate Mobile No.</label>
                <input type="text">
            </li>
            <li>
                <label >Fax No.</label>
                <input type="text">
            </li>
        </ul>
    </fieldset>


    <fieldset class="grid_17 green box step" id="step3">
        <h3>Company Details</h3>
        <ul class="form tar">
            <li>
                <label class="required" name="comp_name">Company's Name</label>
                <input type="text">
            </li>
             <li>
                <label class="required">Your Profession</label>
                <input type="text">
            </li>
            <li>
                <label class="required">Department</label>
                <input type="text">
            </li>
            <li>
                <label name="comp_job_description">Company's Overview</label>
                <input type="textarea" rows="6" cols="20">
            </li>
            <li>
                   <label>Referred By</label>
                       <select name="refferred" value="reff">
                           <option value="email">email
                           <option value="client">By Client
                           <option value="other">Others
                      </select>
               </li>
             <li>
                   <label>Country</label>
                       <input type="text">
               </li>
             <li>
                   <label>State</label>
                     <input type="text">
               </li>
               <li>
                   <label>City</label>
                       <input type="text">
               </li>
            <li>
                   <label class="reqired">Office Address</label>
                       <br>
                            <label>Address</label>
                               <input type="text" />

                       <br>
                            <label>Street 1</label>
                            <input type="text" />

                       <br>
                            <label>Street 2</label>
                            <input type="text" />
                        <br>

                            <label>Street 3</label>
                            <input type="text" />

             </li>
            <li>
                   <label class="reqired">Postal Code</label>
                       <input type="text">
            </li>
             <li>
                   <label class="reqired">Alternate Address</label>
                       <br>
                            <label>Address</label>
                               <input type="text" />

                       <br>
                            <label>Street 1</label>
                            <input type="text" />

                       <br>
                            <label>Street 2</label>
                            <input type="text" />
                        <br>

                            <label>Street 3</label>
                            <input type="text" />

             </li>
            <li>
                   <label class="reqired">Postal Code</label>
                       <input type="text">
            </li>
        </ul>
    </fieldset>


    <fieldset class="grid_17 green box step" id="step4">
        <h3>Company Details 2</h3>
        <ul class="form tar">
            <li>
                <label class="reqired">email-id</label>
                <input type="text">
                   <br>
                      <label>alternate email-id 1</label>
                      <input type="text">
                   <br>
                      <label>alternate email-id 2</label>
                      <input type="text">
            </li>
             <li>
                <label class="reqired">Landline No.</label>
                <input type="text">
                <br>
                <label>Alternate Landline No</label>
                <input type="text">
            </li>
            <li>
                <label>Mobile No.</label>
                <input type="text"><br>
                <label>Alternate Mobile No.</label>
                <input type="text">
            </li>
            <li>
                <label class="required">Fax No.</label>
                <input type="text">
            </li>
            <li>
                <label class="required" >Billing Payment</label>
                <select name="bill_pay" value="billpay">
                    <option >mode Of Pay
                    <option value="cash">Cash
                    <option value="cheque">Cheque
                   <option value="dd">D.D.
                </select>
            </li>
        </ul>
    </fieldset>

    <input type=button value="Save" name="save" class="button"/>
      <input type=reset value="Reset" name="reset" class="button" />
</form>