    <form method="POST" name="" action="#/contact-add" id=contact-form>
        <h1><font color="red" allign="center">Personal Information Form</font></h1>
    <p class="form-steps form">
         <input type=submit value="save" name="save" class="button" />
        <input type=reset value="Reset" name="reset" class="button" />
        
        <a  class="nav-step" id="nav-step1">Personal Details :-1</a>|
        <a  class="nav-step" id="nav-step2">Personal Details :-2</a>|
        <a  class="nav-step" id="nav-step3">Company Details :-1</a>|
        <a  class="nav-step" id="nav-step4">Company Details :-2</a>
      
       
    </p>
        <input type=hidden value="<%= data.id %>" name="id" />
        
        

        <fieldset class="grid_17 blue box step" id="step1">
            <legend>I m a legend</legend>
            <h3>Personal Details :-1</h3>
            <ul class="form tar">
                <li>
                    <label>Initial</label>
                        <select name="suffix initials">
                            <option value="i1">Mr.
                            <option value="i2">Mrs.
                            <option value="i3">Ms.
                        </select>
                </li>
                <li>
                    <label class="required">Enter Name :- </label>
                        <input type="text"  name="first_name" value="" />
                        <input type="text"  name="middle_name" value="" />
                        <input type="text" name="last_name" value="" />
                </li>
                <li>
                    <label>Select Gender</label>
                        <input type="radio" name="gender" value="Male"/>Male<br>
                        <input type="radio" name="gender" value="Female"/>Female
                </li>
                <li>
                    <label class="required">Birth-Date</label>
                        <input type="text" name="birthday" value="" class="datepicker"/>
                </li>
                <li>
                    <label>Language</label>
                        <input type="text"  name="language">
                </li>
                <li>
                    <label class="required">Country</label>
                        <input type="text" name="home_country">
                </li>
                <li>
                    <label class="required">State</label>
                        <input type="text" name="home_state">
                </li>
                <li>
                    <label class="required">City</label>
                        <input type="text" name="home_city">
                </li>
                
                           <li>
                            <label>Street</label>
                            <input type="text" name="home_street" />
                          </li>
                          <li>
                            <label>Street 2</label>
                            <input type="text" name="home_street_2"/>
                          </li>
                          <li>
                            <label>Street 3</label>
                            <input type="text" name="home_street_3"/>
                       
               </li>
               <li>
                   <label>Postal Code</label>
                       <input type="text" name="home_postal_code">
               </li>
           </ul>
    </fieldset>


    <fieldset class="grid_17 blue box step" id="step2">
         <legend>I m a legend</legend>
        <h3>Personal Details :-2</h3>
        <ul class="form tar">
            <li>
                <label class="required">email-id</label>
                      <input type="text" value="" name="email_address">
            </li>
            <li>
                <label>Alternate email-id</label>
                      <input type="text" value="" name="email_address_2">
            </li>
            <li>
                <label class="required">Landline No.</label>
                      <input type="text" name="home_phone">
            </li>
            <li>
                <label>Alternate No</label>
                       <input type="text" name="home_phone_2">
            </li>
            <li>
                <label class="required">Mobile No.</label>
                <input type="text" value="+91-" name="mobile_phone">
            </li>
             <li>
                <label >Fax No.</label>
                <input type="text" name="home_fax">
            </li>
        </ul>
    </fieldset>


    <fieldset class="grid_17 blue box step" id="step3">
         <legend>I m a legend</legend>
        <h3>Company Details 1</h3>
        <ul class="form tar">
            <li>
                <label class="required">Company's Name</label>
                <input type="text" name="name" value="<%=data.name%>">
            </li>
             <li>
                <label class="required">Company ID</label>
                <input type="text" name="title" value="<%=data.id%>">
            </li>
            <li>
                <label class="required">Company/Employee</label>
                <input type="text" name="title" value="<%=data.is_human%>">
            </li>
            <li>
                <label class="required">Your Profession</label>
                <input type="text" name="title" value="<%=data.title%>">
            </li>
            <li>
                <label class="required">User Id</label>
                <input type="text" name="title" value="<%=data.user_id%>">
            </li>
            <li>
                <label class="required">Department</label>
                <input type="text" name="department">
            </li>
            <li>
                   <label>Country</label>
                       <input type="text" name="business_country">
               </li>
             <li>
                   <label>State</label>
                     <input type="text" name="business_state">
               </li>
               <li>
                   <label>City</label>
                       <input type="text" name="business_city" value="<%=data.business_city%>">
               </li>
            <li>
                   <label class="required">Office Address</label>
            </li>
                       <li>
                            <label>Street 1</label>
                            <input type="text" name="business_street"/>
                       </li>
                       <li>
                            <label>Street 2</label>
                            <input type="text" name="business_street_2"/>
                        </li>
                        <li>
                            <label>Street 3</label>
                            <input type="text" name="business_street_3"/>
                       </li>

            <li>
                   <label class="required">Postal Code</label>
                       <input type="text" name="business_postal_code">
            </li>
        </ul>
    </fieldset>


    <fieldset class="grid_17 blue box step" id="step4">
         <legend>I m a legend</legend>
        <h3>Company Details 2</h3>
        <ul class="form tar">
            <li>
                <label class="required" for="webpage">Company's web page</label>
                <input id="webpage" name="web_page" value="<%=data.web_page%>" class="required email" />
            </li>
            <li>
                 <label>email-id</label>
                      <input type="text" value="<%=data.email%>">
            </li>
            <li>
                 <label class="required">Landline No.</label>
                 <input type="text" name="business_phone" value="<%=data.primary_phone%>">
            </li>
            <li>
                <label>Alternate No</label>
                <input type="text" name="business_phone_2">
             </li>
            <li>
                <label class="required">Fax No.</label>
                <input type="text" name="business_fax">
            </li>
             <li>
                   <label>Referred By</label>
                       <select name="refferred" value="reff">
                           <option value="email">email
                           <option value="client">By Client
                           <option value="other">Others
                      </select>
            </li>
            <li>
                <label class="required" >Billing Payment</label>
                <select name="bill_pay" value="billpay" name=""billing_information>
                    <option >mode Of Pay
                    <option value="cash">Cash
                    <option value="cheque">Cheque
                   <option value="dd">D.D.
                </select>
            </li>
        </ul>

        <input type=submit value="Save" name="save" id="save" class="button"/>
    </fieldset>

    
</form>

