  <div class="grid_17 main" >
        <img src="images/temp.jpg" alt="Car" height="125" width="150"/>
        <form action="some_action" method="post" class="important">
            <fieldset>
               <ol>
                    <li>
                        <label class="grid_2">Name</label>
                        <input  id="first_name" type="text" value="First Name" />
                        <input  id="last_name" type="text" value="Last Name"/>
                    </li>
                    <li class="fat">
                        <label class="grid_2">Title</label>
                        <input type="text" id="title" value="" />
                    </li>
                    <li class="fat">
                        <label class="grid_2">Mobile No</label>
                        <input type="text" id="home_phone" value="" />
                    </li>
                    <li class="fat">
                        <label class="grid_2">email</label>
                        <input type="text" id="email" value="" />
                    </li>
                    <li class="fat">
                        <label class="grid_2">Web Page</label>
                        <input type="text" id="web_page" value="" />
                    </li>
               </ol>
           </fieldset>
       </form>
       <form>
           <fieldset class="vertical">
             <ol>
               <li>
                  <label class="grid_3">Select Gender</label>
                  <input type="radio" name="gender" value="Male"/><label>Male</label>
                  <input type="radio" name="gender" value="Female"/><label>Female</label>
               </li>
               <li class="fat">
                  <label class="grid_3">Date of Birth</label>
                  <input type="text" id="birthdate" value=""/>
               </li>
               <li class="fat">
                  <label class="grid_3">Language</label>
                  <input type="text" id="language" value=""/>
               </li>
               <li class="fat">
                  <label>Company Address</label><br></br>
                  <label class="grid_3">Street 1</label>
                  <input type="text" id="business_street" value=""/>
               </li>
               <li class="fat">
                  <label class="grid_3">Street 2</label>
                  <input type="text" id="business_street_2" value=""/>
               </li>
               <li class="fat">
                  <label class="grid_3">Street 3</label>
                  <input type="text" id="business_street_3" value=""/>
               </li>
               <li class="fat">
                  <label class="grid_3">Postal Code</label>
                  <input type="text" id="business_postal_code" value=""/>
               </li>
               <li class="fat">
                  <label class="grid_3">Phone No</label>
                  <input type="text" id="primary_phone" value=""/>
               </li>
               <li class="fat">
                  <label class="grid_3">Fax No</label>
                  <input type="text" id="business_fax" value=""/>
               </li>
               <li class="fat">
                  <label class="grid_3">Country</label>
                  <input type="text" id="business_country" value=""/>
               </li>
             </ol>
          </fieldset>
      </form>
    </div>
