    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
      <meta name="generator" content=
      "HTML Tidy for Mac OS X (vers 31 October 2006 - Apple Inc. build 15.3.6), see www.w3.org" />

      <title>App Name</title>
      <meta http-equiv="Content-Type" content=
      "text/html; charset=iso-8859-1" />
      <meta name="description" content="App Name app" />
      <meta name="keywords" content="App Name" />
      <!-- <link rel="stylesheet" href="css/reset.css" type="text/css" /> -->
      <!-- <link rel="stylesheet" href="css/text.css" type="text/css" />-->

      <!-- <link rel="stylesheet" href="css/960_24_col.css" type="text/css" /> -->

      <link rel="stylesheet/less" href="css/main.css" type="text/css">
      <link rel="stylesheet/less" href="css/rmsforms.css" type="text/css">
      <link rel="stylesheet" href="css/facebox.css" type="text/css" />
      <link rel="stylesheet" href="css/jquery-ui.css" type="text/css" />
      <script src="javascript/less.js" type="text/javascript"></script>

            <script type="text/javascript" src="javascript/jquery-1.4.2.min.js"></script>
            <script type="text/javascript" src="javascript/jquery.form.js"></script>
            <script type="text/javascript" src="javascript/jquery.validate.js"></script>
            <script type="text/javascript" src="javascript/jcap.js"></script>
            <script type="text/javascript" src="javascript/md5.js"></script>
            <script type="text/javascript" src="javascript/jquery-ui.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function() {
     //--------------------------------registar form --------------------------
                 $("#regi_form").validate({
                       rules : {
                            last_name: {
                                required: true
                            },
                            username: {
                               required: true
                            },
                            password: {
                                required: true,
                                minlength: 4,
                                maxlength: 15
                            },
                            answer: {
                                required: true
                            },
                            terms: {
                                required: true
                            },
                           question_id: {
                                required: true
                            }
                        },
                        messages : {
                            last_name: "Enter Name",
                            username: "Enter user name",
                            password: "Enter password",
                            answer: "Enter answer",
                            question_id:"Select Question",
                            terms: "Check your checkbox"
                        }
                   })

                   $("#regi_form").submit(function() {
                       var pass=$("#regi_form").find("input[name=password]").val();
                       var re_pass=$("#regi_form").find("input[name=re_password]").val();
                       if(pass=='' & re_pass=='')
                       {
                           alert("please Enter Your Password")
                       }
                      else{
                         if(pass==re_pass){
                         return true
                         }
                         else{
                         alert("please check your password");
                         return false;
                         }
                     }

                 })

                })
 </script>
      </head>
      <body>
          <div class="container_24" id="content">
            <div class="grid_18 main push_4" id="main-content">
                 <h2>Registration Form</h2>
            <form action="/register" method="POST" class="" id="regi_form" onsubmit="return jcap();">
                <fieldset class="blue box  ">
                    <ul class="form big tar">
                        <li>
                            <label class="required">Name</label>
                            <input type="text"  name="first_name" value="first name"/>
                            <input type="text" name="last_name" value="surname"/>
                        </li>
                        <li>
                             <label class="required">Login Name</label>
                             <input type="text"  name="username" value=""/>
                        </li>
                        <li>
                             <label class="required">Password</label>
                             <input type="password"  name="password" value="" id="password"/>
                       </li>
                        <li>
                             <label class="required">Retype Password</label>
                             <input type="password"  name="re_password" value="" id="re_password"/>
                       </li>
                       <li>
                            <label class="required">Security Question</label>
                            <select name="question_id" class="required">
                                <option value="">Choose Question</option>
                                <option value="q1" >What is the name of your best friend</option>
                                <option value="q2" >What is your phone No.</option>
                                <option value="q3" >What is your vehicle Registration No.</option>
                                <option value="q4">What is your favorite Food</option>
                                <option value="q5">What is your lucky number</option>
                            </select>
                      </li>
                      <li>
                            <label class="required">Answer</label>
                            <input type="text"  name="answer" value=""/>
                     </li>
                     <li>
                             <label>Company name</label>
                             <input type="text"  name="company" value=""/>
                     </li>
                     <li>
                           <script type="text/javascript">sjcap();</script>
                     </li>
                     <li>
                          <label class="required">Terms & Condition</label>
                          <textarea rows="2" cols="40" >
TERMS :-
 Please read these Terms of Use carefully as they govern your
 use of the IFRS Foundation Website.By accessing this Website
 or any of its contents you agree to be bound by the following
 provisions.Definitions of terms used are set out at the end of this document.

CONDITION :-
 Any goods returned to the IFRS Foundation must be in good resalable condition;
 if not you will be charged for them.If for any reason your goods arrive in a
 damaged or otherwise unsatisfactory condition the IFRS Foundation will replace them.
 Please contact the IFRS Foundation Publications Department using the Order Enquiry Form
 to arrange the return of the defective products and dispatch of replacements.
  Please do not return defective goods to the IFRS Foundation until requested to do so.
                        </textarea>
                    </li>
                    <li>
                        <input type="checkbox" name="terms" value="selected" checked  style="float:none;margin-left:150px"/>
                            I agree with all terms & condition
                    </li>
                    <p class="form-steps form left">
                        <input type="submit" value="Create my account" id="account" class="button" style="float:none;margin-left:150px" />
                    </p>

                </ul>
        </fieldset>
   </form>
      </div>
             <!-- main content -->
</div>
</body>
</html>    